/* FONTS */

     @font-face {
          font-family: 'Space Mono';
          font-style: normal;
          font-weight: 400;
          src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf');
          font-display: fallback;
     }

     @font-face {
          font-family: 'Space Mono';
          font-style: italic;
          font-weight: 400;
          src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf');
          font-display: fallback;
     }

     @font-face {
          font-family: 'Space Mono';
          font-style: normal;
          font-weight: 700;
          src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf');
          font-display: fallback;
     }

     @font-face {
          font-family: 'Space Mono';
          font-style: italic;
          font-weight: 700;
          src: url('../fonts/Space_Mono/SpaceMono-BoldItalic.ttf');
          font-display: fallback;
     }

     @font-face {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          src: url('../fonts/Poppins/Poppins-Regular.ttf');
          font-display: fallback;
     }

/* HTML & RESET */

     body {
          color: #000000;
          font-family: 'Space Mono';
     }

     a, a:visited {
          text-decoration: none;
          color: inherit;
     }

     ul {
          list-style-type: none;
     }

/* TITLES & TEXTS */

h1 {
     font-family: 'Space Mono';
     font-size: 96px;
     font-style: italic;
     font-weight: 700;
     line-height: 142px;
     letter-spacing: 0em;
     text-align: left;
     text-transform: uppercase;
}

h2 {
     font-family: 'Space Mono';
     font-size: 66px;
     font-style: italic;
     font-weight: 400;
     line-height: 58px;
     letter-spacing: 0em;
     text-align: left;
     text-transform: uppercase;
}

h3 {
     font-family: 'Space Mono';
     font-size: 18px;
     font-weight: 400;
     line-height: 27px;
     letter-spacing: 0.1em;
     text-align: left;
     text-transform: uppercase;
}

.photo-desc {
     font-family: 'Space Mono';
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     letter-spacing: 0.1em;
     text-align: left;
     text-transform: uppercase;
}

p {
     font-family: 'Poppins';
     font-size: 14px;
     font-weight: 300;
     line-height: 21px;
     letter-spacing: 0em;
     text-align: left;
}

/* HEADER & FOOTER */

     .main-header, footer, .navbar-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #000000;
          font-family: 'Space Mono';
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
     }

     .main-header {
          max-width: 1440px;
          padding: 25px 140px;
          background-color: #FFFF;
     }

     .navbar-head {
          max-width: 600px;
          padding: 25px 40px;
          background-color: #FFFF;
     }

     .main-header-nav ul, .footer-nav ul{
          padding: 0;
          margin: 0;
     }

     .main-header-nav ul li, .footer-nav ul li {
          display: inline;
          padding-left: 45px ;
     }

     .main-header-nav ul li:first-child, .footer-nav ul li:first-child {
          padding-left: 0px !important;
     }

     .footer {
          display: flex;
          justify-content: center;
          position: fixed;
          bottom: 0;
          right: 0;
          left: 0;
     }
     
     .footer ul {
          padding-top: 7px;
          padding-bottom: 7px;
     }


     .main-header-mobile {
          display: none;
     }

     .burger-menu-modal {
          display: none;
     }

     @media all and (max-width : 600px) {
          .main-header-desktop {
               display: none;
          }
          .main-header-mobile {
               display: flex;
               flex-direction: column;
          }
          .burger-menu-modal-opened {
               display: flex;
               align-items: center;
               justify-content: center;
               background-color: #E00000;
               height: 100vh;
               width: 100%;
               opacity: 1;
               font-family: 'Space Mono';
               font-weight: 400;
               font-size: 44px;
               text-transform: uppercase;
               color: #FFFFFF;
               text-align: center;
               z-index: 2;
          }
          .burger-menu-modal-opened ul {
               margin: 0;
               padding: 0;
          }
          .burger-menu-modal-opened nav li {
               padding-bottom: 18px;
          }
          .burger-menu-modal-opened nav li:last-child {
               padding-bottom: 0px;
          }
          .footer {
               margin: 44px 44px;
          }
          .footer ul {
               display: flex;
               flex-direction: column;
          }
          .footer ul li {
               padding-left: 0;
               padding-bottom: 24px;
               text-align: center;
          }
     }

/* CONTACT FORM MODAL */

     .contact-modal {
          display: none;
     }

     .contact-modal-displayed {
          display: block;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0, 0, 0, 0.7);
     }

     .contact-modal-header {
          background-image: url('../images/contact-header.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 70px;
          margin: 15px 0px 15px 0px;
     }
   
     .contact-modal-content {
          background-color: #fefefe;
          margin: 10% auto;
          border: 4px solid #000000;
          max-width: 449px;
     }

     .contact-form {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .contact-form .input-group {
          max-width: 190px;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
     }

     .contact-modal-content label {
          font-family: 'Space Mono';
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 4px;
     }
     
     .contact-form #submit {
          width: 190px;
          border: none;
          background-color: #D8D8D8;
          padding: 26px 0px;
     }

     .contact-form #message {
          height: 149px;
          resize: none;
     }

/* PHOTO (SINGLE TEMPLATE) */

.post-photo-container {
     margin: 40px 140px;
}

.post-photo-container .photo-title {
     font-family: 'Space Mono';
     font-size: 66px;
     font-style: italic;
     font-weight: 400;
     line-height: 58px;
     text-align: left;
     text-transform: uppercase;
}

.post-photo-container p {
     font-family: 'Space Mono';
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     letter-spacing: 0.1em;
     text-align: left;
     text-transform: uppercase;
}

.post-photo-container .post-photo-content {
     display: flex;
     height: 844px;
}

.post-photo-container .post-photo-content .post-photo-content-text {
     display: flex;
     flex-direction: column;
     justify-content:flex-end;
}

.post-photo-container .post-photo-content .post-photo-content-text,
.post-photo-container .post-photo-content .post-photo-content-img, 
.post-photo-container .post-photo-more .post-photo-contact, 
.post-photo-container .post-photo-more .posts-navigation {
     width: 50%;
}

.post-photo-container .post-photo-content .post-photo-content-img img {
     width: 100%;
     height: 100%; 
     object-fit: cover;
}

/* POST PHOTO MORE */

.post-photo-more {
     display: flex;
     justify-content: space-between;
}

/* POSTS NAVIGATION */

.posts-navigation {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}

.posts-navigation .posts-navigation-img {
     width: 100px; 
     height: 100px;
     border: #E3E3E3 1px solid;
     margin-top: 8px
}

.posts-navigation .posts-navigation-img .img-post {
     display: none;
}

.posts-navigation .posts-navigation-img .img-post-hover {
     display: block;
     width: 100%;
     height: 100%; 
     object-fit: cover;
}

.posts-navigation .posts-navigation-arrows {
     display: flex; 
     justify-content: space-between;
     margin: 19px 0;
}

/* RELATED POSTS */

.related-posts {
     display: flex;
}